.reader {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.reader .box {
    /* margin: 0 6px 6px 0; */
    margin-bottom: 6px;
    font-size: 18px;
    color: rgb(44, 44, 44);
    position: relative;
    padding: 4px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
}

.reader .box .type {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    border-radius: 4px;
}

.reader .box p {
    font-weight: 200;
    opacity: 1;
    z-index: 1;
    pointer-events: none;
}

.reader .box.is-active {
    border: 1px solid #ffb900;
}

.reader .box:hover {
    /* -webkit-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2); */

    /* filter: brightness(93%); */
    /* opacity: 1; */
    border: 1px solid #ffb900;
}

.reader .box.word .type{
    background: rgb(240 240 240)
}

.reader .box.symbol {
    padding: 4px 2px;
}

.reader .br {
    width: 100%;
    height: 20px;
}

.reader .box .helper {
    z-index: 999;
    border-radius: 4px;
    position: absolute;
    width: max-content;
    top: -50px;
    background: #eba300;
    padding: 10px;
    color: white;
    -webkit-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
}

.reader .helper.translate {
    background: #8600eb;
}